# Exclude linter data and configuration
.mypy_cache
pyrightconfig.json

# Exclude Virtual Environment
.venv/

# Exclude contents of data folder
data/

# Exclude Jupyter Notebooks
*.ipynb
.ipynb_checkpoints
